@font-face {
  font-family: 'Hylian';
  src: url('../fonts/HyliaSerifBeta-Regular.otf') format('truetype'); /* Adjust path if needed */
  font-weight: normal;
  font-style: normal;
}
:root{
  --TextBody: 'Kufam';
  --textTitle: 'Hylian'
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h4, h5, h3, a{
  font-family: var(--TextBody);
  }
  h1{
    font-family: var(--textTitle);
    font-size: 5vw;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  body {
    background-image: url('../media/img/FondoAPI.png'); 
    height: 100vh; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  header {
    position: relative;
    width: 100%;
    height: 350px; /* Controlar largo video */
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0); 
  }
  
  header h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  }
  body {
    background-color: #1b1b1b;
    color: #66fcf1;
    font-family: 'Orbitron', sans-serif;
}
.navbar {
    background-color: #0b0c10;
    border-radius: 12px;
    padding: 0.5rem 1rem;
}
.navbar-brand img {
    height: 50px;
    width: auto;
}

.navbar-nav .nav-link {
    color: rgba(62, 233, 245, 1) !important;
    margin-right: 4rem;
    letter-spacing: 1px;
}
.navbar-nav .nav-link:hover {
    color: #45a29e !important;
}
.navbar-toggler {
    border: none;

}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 198, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* Carousel  */
.carousel-container {
  background-size: cover;
  background-position: center;
  padding: 30px;
  border-radius: 20px;
  border: 3px solid #d4af37;
  max-width: 80%;
  margin: auto;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #d4af37;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.carousel-item {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding: 40px 0;
}
.hint {
  margin-top: 20px;
  color: #d4af37;
  font-size: 20px;
  text-align: center;
}


.video_trailer {
  text-align: center;
  
}

.encabezado_trailer {
   margin-bottom: 5rem;
}

.vector_logo {
  margin-bottom: 5rem;
}

.play_game{
  display: flex;
  justify-content: center;
  align-items: last baseline;
  font-size: 40px;
  color: white;
 
}

/* API CSS --------------------------------------------------------------------------------------------*/
.card-creature > h4 {
  opacity: 0;
  transition: 0.3s;
}

.card-creature > img {
  border-radius: 30px;
}

.card-creature > img:hover{
  box-shadow: 0 0 10px 4px rgba(0, 198, 255, 0.6);
  transition: 0.2s;
}

.test{
  height: auto;
  width: 900px;
  z-index: 1000;
  box-shadow: 0 0 10px 4px rgba(0, 198, 255, 0.6);
}

.img_descrip-cont{flex-direction: row;}

.loot-cont{width: 800px; height: 95px;}

/* el scroll  */
.scroll-box::-webkit-scrollbar {
scrollbar-width: thin;
}

.scroll-box::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.2); 
border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb {
background: linear-gradient(180deg, #00c6ff, #0072ff); 
border-radius: 10px;
border: 2px solid #ffffff33; 
transition: all 0.3s ease;
}


#cardFloat{
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none; /* Hidden by default */
  z-index: 900; /* Below the fixedContainer */
}

/* END API CSS ------------------------------------------------------------------------------------------------------------ */


@media (max-width: 960px) {
  .test{
    width: 400px;
    display: flex;
    flex-direction: column;
  }

  .img_descrip-cont{
    display: flex;
    flex-direction: column;
  }

  .loot-cont{
    width: 300px;
    height: 85px;
  }

  .test img{
    width: 100%;
    align-self: center;
  }
}

@media (max-width: 460px){
  .test{
    width: 250px;
  }
  .loot-cont{
    width: 150px;
  }

  #C-buttons img{
    width: 100%;
    height: auto;
  }
}
 